body
{
	font: Arial, sans-serif;
}

.buttonArea,
.footerText
{
	text-align: center;
}

#txtName
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

.input-field
{
	margin: 5px 0 0;
}

.block { display: block; }
.margin10 { margin: 10px; }

.letter-space
{
	letter-spacing: 10px;
	text-align: center;
	font-size: 22px;
	color: #33B5E5;
}

.full-width
{
	width: 95%;
}
.question
{
    
	margin: 5px 0 0;
	font-size: 14px
}
.labelstyle
{
	text-align: center;
	font-size: 22px;
	color: #33B5E5;
}
#progressbar .caption
{
	position: relative;
	left: 55px;
	top: -25px;
	display: inline;
}
.km-android .km-navbar .km-leftitem .km-back
{
    visibility:collapse;
}
.km-ios #tabstrip-statistics .km-view-title>span{
    padding-left: 20px;
}